<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDHarJDu0hIcE6KKPx-BJzXkpvPRJYYqi4</string>
	<key>GCM_SENDER_ID</key>
	<string>327335089367</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zachary.MoviesApp</string>
	<key>PROJECT_ID</key>
	<string>movieapp-b5734</string>
	<key>STORAGE_BUCKET</key>
	<string>movieapp-b5734.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:327335089367:ios:a97005f439108acbaccc92</string>
</dict>
</plist>